.address--page {
  height: auto;
  min-height: 100vh;
  background: var(--background-one);
}
.old--address-card {
  border-radius: 10px;
}
#old--address-scroller-container {
  height: 70%;
  min-height: 70vh;
  position: fixed;
  top: 62px;
  right: 0;
  left: 0;
  z-index: 0;
  overflow-y: hidden;
}
#old--address-scroller-container-cards {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  overflow-y: auto;
}
.container-add-btn {
  background: var(--background-one);
}
.main-add-address {
  background: var(--background-one);
  position: fixed;
  bottom: 0;
  height: auto;
  padding-top: 1rem;
}
.btn--add--new--address {
  font-size: 14px;
  padding: 0.8rem 0.7rem;
  border: none;
  margin-bottom: 0.7rem;
  border-radius: 8px;
}
.btn--checkout--order {
  font-size: 14px;
  padding: 0.8rem 0.7rem;
  border: none;
  margin-bottom: 0.7rem;
  border-radius: 8px;
}
.new--address--container {
  height: 85vh;
  overflow: hidden;
}
.card--title--new--address {
  font-size: 11px;
  color: var(--text-grey);
  font-family: "IranSans";
  font-weight: bold;
}
.new--address--inputs {
  font-size: 11px;
  font-family: "IranSans";
  font-weight: bold;
}
.new--address--description-input {
  font-size: 11px;
  color: var(--text-grey);
  font-family: "IranSans";
  font-weight: bold;
  width: 47%;
}
.new--address--exact--text-container {
  border-radius: 15px;
  height: 10vh;
  min-height: 25vh;
}
.map {
  height: 53vh;
}
.loader--map {
  position: absolute;
  right: 45%;
  top: 50%;
}
.icon--location--detection {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  right: 8px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: var(--red-one);
  padding: 0.4rem;
  z-index: 1000;
  cursor: pointer;
}
.icon--location--detection:hover,
.icon--location--detection:active,
.icon--location--detection:focus {
  box-shadow: none;
  background-color: var(--red-one);
}

.tooltip--location--detection {
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  right: 50px;
  height: 35px;
  border-radius: 12px;
  background-color: var(--red-one);
  /* padding: 0.4rem; */
  z-index: 950;
  transition: 0.5s;
}
