.address--page {
  height: auto;
  min-height: 100vh;
  background: var(--background-one);
}
.old--address-card {
  border-radius: 10px;
  border: none;
}
.address--red--border {
  border: 1px solid var(--red-one);
}
#old--address-scroller-container {
  height: 100%;
  min-height: 70vh;
  position: absolute;
  top: 62px;
  right: 0;
  left: 0;
  z-index: 0;
  overflow-y: hidden;
}
#old--address-scroller-container-cards {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  overflow-y: auto;
}
.container-add-btn {
  background: var(--background-one);
}
.main-add-address {
  background: var(--background-one);
  position: fixed;
  bottom: 0;
  height: auto;
  padding-top: 1rem;
}
.btn--add--new--address {
  font-size: 14px;
  padding: 0.8rem 0.7rem;
  border: none;
  margin-bottom: 0.7rem;
  border-radius: 8px;
}
.btn--checkout--order {
  font-size: 14px;
  padding: 0.8rem 0.7rem;
  border: none;
  margin-bottom: 0.7rem;
  border-radius: 8px;
}
.new--address--container {
  height: 90vh;
  overflow: hidden;
}
.card--title--new--address {
  font-size: 11px;
  color: var(--text-grey);
  font-family: "IranSans";
  font-weight: bold;
}
.new--address--inputs {
  font-size: 11px;
  font-family: "IranSans";
  font-weight: bold;
}
.new--address--description-input {
  font-size: 11px;
  color: var(--text-grey);
  font-family: "IranSans";
  font-weight: bold;
  width: 47%;
}
.new--address--exact--text-container {
  border-radius: 8px;
  height: 10vh;
  min-height: 25vh;
}
.new--address--exact--text-container.form-control:focus {
  border-color: var(--red-two);
}
.map {
  height: 90vh;
}
.loader--map {
  position: absolute;
  right: 45%;
  top: 50%;
}
.icon--location--detection {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 70px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--red-one);
  padding: 0.4rem;
  z-index: 999;
  cursor: pointer;
}
.icon--location--detection:hover,
.icon--location--detection:active,
.icon--location--detection:focus {
  box-shadow: none;
  background-color: var(--red-one);
}
.icon--location--detection .img-fluid {
  padding: 0;
}
.icon--location--detection--record {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 15px;
  height: 45px;
  border-radius: 14px;
  width: 93vw;
  background-color: var(--red-one);
  z-index: 999;
  cursor: pointer;
}
.icon--location--detection--record:hover,
.icon--location--detection--record:active,
.icon--location--detection--record:focus {
  box-shadow: none;
  background-color: var(--red-one);
}

.tooltip--location--detection {
  font-size: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 0;
  height: 42px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: var(--red-one);
  z-index: 950;
  transition: 0.5s;
}

.map--search--col {
  position: absolute;
  right: 0;
  left: 0;
  top: 3px;
  width: 100%;
  z-index: 1000;
}

.map--search--group {
  height: 50px;
  width: 100%;
}

.map--search--input {
  border-radius: 13px;
  box-shadow: 1px 1px 12px rgb(182, 182, 182);
  padding-right: 3rem;
  font-size: 15px;
}

.map--search--input.form-control:focus {
  border: none;
  box-shadow: 1px 1px 12px rgb(182, 182, 182);
}
.map--search--input--dropdown {
  border-radius: 13px;
  box-shadow: 1px 1px 12px rgb(182, 182, 182);
  padding-right: 3rem;
  padding-left: 2.8rem;
  font-size: 15px;
}
.divider--result-search--address {
  border-top: 1px solid #f87f77;
  opacity: 0.5;
}
.map--search--input--dropdown.form-control:focus {
  border: none;
  box-shadow: 1px 1px 12px rgb(182, 182, 182);
}

.map--search--icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0.75rem !important;
}
.map--search--icon-delete {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 1rem;
}
.leaflet-marker-icon {
  margin-top: -75px !important;
  margin-left: -30px !important;
}
.modal--delete--address .modal-content {
  border: 0;
}
.delete--address-modalBody {
  background-color: #ececec;
  border-radius: 14px;
  border: none;
}
.card-delete-address {
  border-radius: 15px;
  border: none;
}
.alert-cancel-product-order {
  position: relative !important;
  bottom: 0;
}
.row--static--map {
  height: 35vh;
  position: relative;
  cursor: pointer;
}
.modal--body--pick--address {
  margin-top: 62px;
  padding: 0;
}
.row--static--map .col {
  height: 35vh;
  position: relative;
}
.label--maps {
  font-size: 11px;
  color: var(--text-grey);
  font-family: "IranSans";
  font-weight: bold;
}
.div--btn-recordLocation {
  display: flex;
  justify-content: center;
  align-items: center;
}
