:root {
  --body-bachground: #ffffff;
  --background-one: #f8f3ef;
  --background-two: #383738;
  --background-three: #c7c2bf;
  --red-one: #f44336;
  --red-two: #f4c7c3;
  --text-grey: #868381;
  --btn-active-one: #f87f77;
  --btn-active-two: #c4a3a0;
  --success-color: #4caf50;
  --danger-color: #e53935;
}

@font-face {
  font-family: "IranSans";
  src: url("./../fonts/ir_sans.ttf");
}

/* set scrollBar widht to 0 to dont't show scrollbar on scroll */
::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "IranSans";
  background-color: var(--body-bachground);
  margin: 0;
  padding: 0;
}

#back-up {
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
  border-left: 368px solid var(--background-two);
  border-right: 368px solid var(--background-two);
  border-top: 50vh solid var(--background-two);
}

#back-center {
  height: 100%;
  min-height: 100vh;
  background: var(--background-one);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: fixed;

  left: 0;
  right: 0;
  border-radius: 0 100px 0 100px;
  overflow-y: hidden;
}
.back-center-login {
  top: 65px;
}
.back-center-main {
  top: 85px;
}

.logo {
  position: absolute;
  top: 12px;
  left: 22px;
}

.mzLogo {
  max-height: 20vh;
}

.inputs {
  font-size: 12px;
  color: var(--text-grey);
  font-family: "IranSans";
  font-weight: bold;
}

.navbar-brand {
  font-size: 14px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.my-nav {
  background-color: var(--red-two);
}

.navbar-expand .navbar-nav .nav-link {
  padding-left: 1.5rem;
}

.form-control:focus {
  box-shadow: none;
}

.search-input {
  width: 90%;
  padding-right: 10px;
  height: calc(1.5em + 0.75rem + 1px);
  font-size: 14px;
  border-radius: 10px;
  border: none;
}

.alert {
  position: absolute;
  bottom: 26vh;
  z-index: 1050;
}

.no-result-filter {
  height: 75vh;
}

.header-title {
  position: absolute;
}
.mt-6 {
  margin-top: 4rem !important;
}

.btn--red--one {
  background-color: var(--red-one) !important;
  color: #fff !important;
}
.btn--red--one:active,
.btn--red--one:focus {
  background-color: var(--btn-active-one);
  box-shadow: 0 0 0.5rem var(--red-one);
}
.btn--red--one:focus:active {
  box-shadow: none;
}
.btn--red--two {
  background-color: var(--red-two) !important;
  color: var(--red-one) !important;
}
.btn--red--two:active,
.btn--red--two:focus,
.btn--red--two:focus:active {
  background-color: var(--btn-active-two);
  box-shadow: none;
}

.navbar--factor {
  background-color: var(--background-two);
}
.nav--link--header--back {
  font-size: 13px;
}
.txt--color--red--one {
  color: var(--red-one);
}
.rounded-4 {
  border-radius: 14px;
}
.position-relative {
  position: relative !important ;
}
