:root {
  --body-bachground: #ffffff;
  --background-one: #f8f3ef;
  --background-two: #4e4c4b;
  --background-three: #c7c2bf;
  --red-one: #f44336;
  --red-two: #f4c7c3;
  --text-grey: #868381;
}

@font-face {
  font-family: "IranSans";
  src: url("./../fonts/ir_sans.ttf");
}

/* set scrollBar widht to 0 to dont't show scrollbar on scroll */
::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "IranSans";
  background-color: var(--body-bachground);
  margin: 0;
  padding: 0;
}

#back-up {
  top: 0;
  left: 0;
  z-index: -2;
  position: absolute;
  border-left: 368px solid var(--background-two);
  border-right: 368px solid var(--background-two);
  border-top: 50vh solid var(--background-two);
}

#back-center {
  height: 83%;
  min-height: 83vh;
  background: var(--background-one);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: fixed;
  top: 77px;
  left: 0;
  right: 0;
  border-radius: 0 100px 0 100px;
  overflow-y: hidden;
}

#back-down {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  border-right: 763px solid var(--background-three);
  border-bottom: 50vh solid var(--background-three);
}

.logo {
  position: absolute;
  top: 28px;
  left: 22px;
}

.mzLogo {
  max-height: 20vh;
}

.inputs {
  font-size: 12px;
  color: var(--text-grey);
  font-family: "IranSans";
  font-weight: bold;
}

.navbar-brand {
  font-size: 14px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.my-nav {
  background-color: var(--red-two);
}

.navbar-expand .navbar-nav .nav-link {
  padding-left: 1.5rem;
}

.form-control:focus {
  box-shadow: none;
}

.search-input {
  width: 90%;
  padding-right: 10px;
  height: calc(1.5em + 0.75rem + 1px);
  font-size: 14px;
  border-radius: 10px;
  border: none;
}

.alert {
  position: absolute;
  bottom: 26vh;
  z-index: 1050;
}

.no-result-filter {
  height: 75vh;
}

.header-title {
  position: absolute;
}
.mt-6 {
  margin-top: 4rem !important;
}
