.factor-page {
  height: 100%;
  min-height: 100vh;
  background-color: var(--background-one) !important;
}

.factor-page-container {
  height: 100%;
  min-height: 85vh;
}

.table-wrapper-scroll-y {
  display: block;
  line-height: 2.5;
}
.my-custom-scrollbar {
  position: relative;
  height: auto;
  overflow: auto;
}
.factor--text--details {
  font-size: 13px !important;
  color: var(--text-grey) !important;
  margin-right: 0.2rem !important;
}
.factor-inputs {
  font-size: 11px;
  /* color: var(--text-grey); */
  font-family: "IranSans";
  font-weight: bold;
}
.factor-description-input {
  font-size: 11px;
  color: var(--text-grey);
  font-family: "IranSans";
  font-weight: bold;
  width: 47%;
}
.description-text-container {
  border-radius: 15px;
  height: 15vh;
  min-height: 35vh;
}
.description-text-container.description-text-container{
  border: none;
  box-shadow:  0 0 9px 0.1px rgb(0 0 0 / 12%)
}
.factor--btn--checkout--order {
  font-size: 14px;
  /* padding: 0.8rem 0.7rem; */
  border: none;
  margin-bottom: 0.7rem;
  border-radius: 8px;
}
.factor--padding--to--scroll{
  padding-bottom: 5rem;
}

.pizz-wallpaper{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
.pay-factor-page {
  height: auto;
  min-height: 100vh;
  background: var(--background-one);
  border-radius: 284px 0 0 0;
  z-index: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 23px -4px var(--text-grey);
}
.pay--button{
  position: fixed;
  right: 38px;
  bottom: 39px;
}