.form-input {
    border-radius: 10px;
    color: var(--text-grey);
    font-size: 14px;
    border: none;
    max-height: 6vh;
}

.form-input:focus {
    outline: 0;
    box-shadow: 0;
    border: 0;
    border-bottom: 1px solid var(--text-grey);
}