.div--container__historyOrder {
  position: relative;
  height: 100vh;
  background-color: #f3eeea;
  overflow: auto;
  font-size: 0.9rem;
}
.div--container__inner-historyOrder {
  position: relative;
}

.div--container__card-history {
  background-color: #ffffff;
  margin: 1rem;
  margin-top: 1.5rem !important;
  overflow: hidden;
  border-radius: 15px;
  z-index: 1;
}

.div--container__card-history-inner {
  background-color: var(--red-three);
  margin: 0 1rem;
  padding: 0 0.8rem;
  border-radius: 15px;
}

.logo--historyDetail {
  width: 3.8rem;
  position: absolute;
  top: -1.2rem;
  z-index: 999;
}
.row--container__historyDetail {
  height: 2rem;
  margin-top: 0.7rem;
  position: relative;
}
.col--status__historyDetail {
  position: absolute;
  left: 76%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 17px;
  color: #4aae50;
  font-weight: 600;
  white-space: nowrap;
}
.col--successStatus__historyDetail {
  position: absolute;
  left: 76%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: large;
  color: #f34334;
  font-weight: 600;
}

.col--date__historyDetail {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-52%, -50%);
  font-weight: 600;
}
.row--container__address-historyDetail {
  height: 10vh;
  font-size: 13px;
  padding: 1rem 15px;
  font-weight: 600;
}
.table--container__historyDetail {
  margin-bottom: 3px;
}

.th--container__historyDetail {
  color: #f34335;
  font-weight: 500;
  font-size: 13px;
}
.td--container__historyDetail {
  font-weight: 700;
  font-size: 13px;
}
.hr--historyDetail {
  display: block;
  border-top: 2px solid var(--red-one);
  margin: 0em 0rem;
  padding: 0 0px;
}
.row--container__tatal-historyDetail {
  position: relative;
  margin-top: 1.2rem;
}
.col--text__total-historyDetail {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #898180;
}
.col--price__total-historyDetail {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}
.span--container__toman-historyDetail {
  color: #f34335;
}

@media (max-width: 350px) {
  .col--status__historyDetail {
    font-size: 15px;
  }
  .col--date__historyDetail {
    font-size: 12px;
  }
}
