.spinner--custom {
  width: 70px;
  text-align: center;
}
/* Spinner for BackGround Red */
.spinner--bg--red > div {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 0.1rem;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: spinner--bg--red 1.4s infinite ease-in-out both;
  animation: spinner--bg--red 1.4s infinite ease-in-out both;
}

.spinner--bg--red .bounce1--bg--red {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner--bg--red .bounce2--bg--red {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes spinner--bg--red {
  100% {
    background-color: #fef5f5;
  }
  66% {
    background-color: #fcc8c5;
  }
  33% {
    background-color: #f77c73;
  }
}
@keyframes spinner--bg--red {
  100% {
    background-color: #fef5f5;
  }
  66% {
    background-color: #fcc8c5;
  }
  33% {
    background-color: #f77c73;
  }
}
/* Spinner for BackGround White */
.spinner--bg--white > div {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f44336;
  margin: 0 0.1rem;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: spinner--bg--white 1s infinite ease-in-out both;
  animation: spinner--bg--white 1s infinite ease-in-out both;
}

.spinner--bg--white .bounce1--bg--white {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner--bg--white .bounce2--bg--white {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes spinner--bg--white {
  100% {
    background-color: #f44336;
  }
  66% {
    background-color: #f49089;
  }
  33% {
    background-color: #f4b6b2;
  }
}
@keyframes spinner--bg--white {
  100% {
    background-color: #f44336;
  }
  66% {
    background-color: #f49089;
  }
  33% {
    background-color: #f4b6b2;
  }
}

.spinner--address > div {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f44336;
  margin: 0 0.1rem;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: spinner--address 1.4s infinite ease-in-out both;
  animation: spinner--address 1.4s infinite ease-in-out both;
}

.spinner--address .bounce1--address {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.spinner--address .bounce2--address {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes spinner--address {
  100% {
    background-color: #f44336;
    transform: scale(1);
  }
  66% {
    background-color: #f49089;
  }
  33% {
    background-color: #f4b6b2;
    transform: scale(0);
  }
}
@keyframes spinner--address {
  100% {
    background-color: #f44336;
    transform: scale(1);
  }
  66% {
    background-color: #f49089;
  }
  33% {
    background-color: #f4b6b2;
    transform: scale(0);
  }
}
