.main-add-btn {
  background-color: var(--red-one);
  border-radius: 100%;
  position: fixed;
  top: 80vh;
  box-shadow: 0 0 0.8rem var(--red-one);
}

.main-add-btn.btn-check:checked + .main-add-btn.btn-primary,
.main-add-btn.btn-check:active + .main-add-btn.btn-primary,
.main-add-btn.btn-primary:active,
.main-add-btn.btn-primary.active,
.main-add-btn.show > .main-add-btn.btn-primary.dropdown-toggle {
  background-color: var(--red-one);
}

.main-add-btn.btn-check:focus + .main-add-btn.btn-primary,
.main-add-btn.btn-primary:focus {
  background-color: var(--red-one);
  border-color: none;
  box-shadow: 0 0 0 0.25rem rgb(244 67 54 / 50%);
}

.main-add-btn.btn-primary:hover {
  background-color: var(--red-one);
  border-color: none;
}
.main-card-order {
  border-radius: 0.7rem;
}
.main-icon-cards {
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.img-fluid {
  max-width: 100%;
  height: 40px;
  padding: 3px;
}
.main-text-card-queue-condition {
  color: var(--red-one);
  font-size: 13px;
  padding: 0;
  margin: 0;
}
.main-icon-cards-pass {
  background-color: var(--red-one);
  border: none;
  margin-right: 0.5rem !important;
}
.main-text-card-description-order {
  font-size: 12px;
  color: var(--text-grey);
}
.main-card-btn-order-detail {
  font-size: 14px;
  padding: 0.8rem 0.7rem;
  border: none;
  margin-bottom: 0.7rem;
  border-radius: 8px;
}
.main-card-btn-order-checkout {
  font-size: 14px;
  padding: 0.8rem 0.7rem;
  border: none;
  margin-bottom: 0.7rem;
  border-radius: 8px;
}
.main-scroll-card-order {
  position: absolute;
  height: 69%;
  width: 100%;
  top: 0;
  overflow-y: auto;
}
.user--charge--account {
  position: absolute;
  left: 25px;
  top: 65px;
  background-color: #fff;
  z-index: 1;
  height: 35px;
  border-radius: 11px;
  box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%),
    0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
}
.user--charge--account--col {
  color: var(--background-two);
  height: inherit;
  display: flex;
  font-size: 13px;
  border-radius: 11px;
  justify-content: space-between;
  align-items: center;
}
.sidebarItem {
  border-bottom: 1px solid var(--btn-active-one);
}

.sidebarItem a {
  font-size: 14px;
  color: inherit;
  text-decoration: none;
}

.dashboardIcons {
  background-color: var(--background-two);
  height: 10vh;
}
.link--call-sidebar {
  color: #000;
  text-decoration: none;
  font-size: 12px !important;
  text-shadow: 0px 0px 25px #4caf50 !important;
}
.link--call-sidebar:hover,
.link--call-sidebar:active {
  color: #000;
  text-decoration: none;
}
.call--icon--sidebar {
  height: 25px;
}
@media (min-width: 394px) {
  .call--icon--sidebar {
    height: 30px;
  }
  .link--call-sidebar {
    font-size: 1rem !important;
  }
}
