.map--search--col.dropdown-toggle {
  border: none;
  background-color: var(--body-bachground);
  color: var(--text-color-one);
  font-size: 13px;
  border-radius: 10px;
  width: 100%;
  text-align: right;
}

.map--search--col.dropdown-toggle::after {
  content: "";
  border: none;
}

.map--search--col.dropdown-item {
  font-size: 13px;
}

.map--search--col.btn-primary:not(:disabled):not(.disabled):active,
.map--search--col.btn-primary:not(:disabled):not(.disabled).active,
.map--search--col.show > .map--search--col.btn-primary.dropdown-toggle {
  color: var(--text-color-one);
  background-color: var(--body-bachground);
  border: none;
}

.map--search--col.btn-primary:not(:disabled):not(.disabled):active:focus,
.map--search--col.btn-primary:not(:disabled):not(.disabled).active:focus,
.map--search--col.show > .map--search--col.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.map--search--col .btn-primary:hover {
  background-color: transparent;
  border-color: transparent;
}

.map--search--col .btn-primary {
  background-color: transparent;
  border-color: transparent;
}

.map--search--col .dropdown-toggle::after {
  border: none;
}

.map--search--col .btn-check:focus + .map--search--col .btn-primary,
.map--search--col .btn-primary:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem transparent;
}
/*     
.dropdown--address--Menu{
    transform: translate3d(42px, 58px, 0px) !important;
} */
.dropdown-menu.show {
  transform: none !important;
  width: 100vw !important;
  height: 100vh;
  inset: -15px 0 auto 0 !important;
}
.close--btn {
  position: absolute;
  top: 28px;
  left: 34px;
  cursor: pointer;
}
.search-address-bar {
  background-color: #fff;
}
.modal-90w {
  max-width: 100% !important;
  padding: 0;
  margin: 0;
}
.modal-90w .modal-content {
  border-radius: 0;
  background-color: #fff;
  height: 100vh;
  border: none;
}
.modal-90w .header {
  background-color: var(--background-two);
  border-radius: 0;
}
.basket-dropdown-border-left {
  white-space: normal;
  font-size: 14px;
}
.text--result-search--address {
  color: var(--text-grey);
  font-size: 13px;
}
