.div--container__orders {
  background-color: #f9f3ee;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
}
.navbar--order {
  position: absolute;
  top: 0rem;
  left: 1rem;
  background-color: #f9f3ee;
}

.me-auto--order {
  padding: 0 !important;
  font-weight: 400;
}
.me-auto--order > p {
  display: inline-block;
  font-weight: 800;
}
.section--container__textlist-order {
  margin-top: 3.5rem;
  width: 100%;
  height: 2rem;
}
.ul--container__order {
  list-style-type: none;
  text-align: center;
  width: 100%;
  padding: 0;
  margin-left: 6rem;
}
.li--order {
  list-style-type: none;
  display: inline-block;
  margin-left: 0.6rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9b9591;
  cursor: pointer;
}
.active--category {
  transform: scale(1.3) !important;
  color: var(--red-one) !important;
}
.div--container__product {
  margin-top: 1rem;
  height: 79vh;
}
.div--container__togglebutton {
  background-color: #f4c7c2;
  height: 2.2rem;
  margin-top: 1rem;
  border-radius: 8px;
  width: auto;
  position: relative;
}

.div--container__togglebutton-text {
  color: #4e4d49;
  font-size: 0.7rem;
  white-space: nowrap;
  font-weight: 800;
  cursor: pointer;
  width: 70px;
}

.active-opstion {
  background-color: #f9f3ee !important;
  color: #ec5e4e !important;
  padding: 0.3rem !important;
  border-radius: 5px;
}

.div--container__detail {
  margin-top: 3rem;
  height: 15vh;
}
.col--container__title {
  text-align: center;
}
.col--container__price {
  font-weight: 700;
  text-align: center;
}
.span--container__detailtext {
  text-align: center;
  margin-top: 1.5rem;
  font-weight: 100;
  font-size: 0.78rem;
  color: #666666;
}
.div--container__addButton {
  position: relative;
  font-size: 2rem;
  color: #f8f2ed;
  text-align: center;
  width: 55px;
  height: 55px;
  margin-right: 0%;
  border-radius: 50%;
  background-color: #f24333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div--container__minuseButton {
  position: relative;
  font-size: 2rem;
  color: #f8f2ed;
  text-align: center;
  width: 55px;
  height: 55px;
  margin-right: 0%;
  border-radius: 500px;
  background-color: #f4c7c2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col--container__productPrice {
  text-align: center;
  position: relative;
}
.span--container__price {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 800;
}

.carousal--product {
  /* width: 22rem; */
  margin: auto;
}
.carousel-inner {
  min-height: 100%;
}
.carousal--item__prouduct {
  width: 70%;
  justify-content: center;
  margin-left: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #f9f3ee;
  opacity: 1 !important;
}

.carousel--img {
  height: 27vh;
}

/* ------------------------------------- DIALOG IN ORDER --------------------------------------- */

.div--container__dialog-order {
  margin: 30px 12px;
  /* position: fixed;
  right: 0;
  left: 0;
  bottom: 0; */
  height: 3.5rem;
  border-radius: 10px;
  background-color: #f24333;
}
.col--container__dialog-order {
  height: 100%;
  margin-top: 1rem;
  text-align: center;
}
.span--container__dialogo-order {
  color: #f9f3ee;
  font-size: 1rem;
  font-weight: bold;
}

.cancel--order-but {
  border-radius: 10px;
  font-size: 17px;
}

.success--color {
  background-color: var(--success-color);
}
.success--color:disabled {
  background-color: var(--success-color);
}

.success--color.btn-check:checked + .success--color.btn-primary,
.success--color.btn-check:active + .success--color.btn-primary,
.success--color.btn-primary:active,
.success--color.btn-primary.active,
.success--color.show > .success--color.btn-primary.dropdown-toggle {
  background-color: var(--success-color);
  border-color: var(--success-color);
}

.success--color.btn-check:focus + .success--color.btn-primary,
.success--color.btn-primary:focus {
  background-color: var(--success-color);
  border-color: var(--success-color);
  box-shadow: 0 0 0 0.25rem rgb(76 175 80 / 50%);
}

.success--color.btn-primary:hover {
  background-color: var(--success-color);
  border-color: var(--success-color);
}

.danger--color {
  background-color: var(--danger-color);
}

.danger--color.btn-check:checked + .danger--color.btn-primary,
.danger--color.btn-check:active + .danger--color.btn-primary,
.danger--color.btn-primary:active,
.danger--color.btn-primary.active,
.danger--color.show > .danger--color.btn-primary.dropdown-toggle {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
}

.danger--color.btn-check:focus + .danger--color.btn-primary,
.danger--color.btn-primary:focus {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  box-shadow: 0 0 0 0.25rem rgb(244 67 54 / 50%);
}

.danger--color.btn-primary:hover {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
}

.danger--color--text {
  color: var(--danger-color);
}

.cancel--order--modal {
  background-color: var(--background-one);
  border-radius: 10px;
}

.modal-content {
  border-radius: 1.3rem;
}
.carousel-caption {
  right: 0;
  left: 0;
  top: 50%;
}
.text--product--unavailable {
  background-color: var(--red-two);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-two);
  border-radius: 14px;
  opacity: 0.9;
  right: 0;
  left: 0;
  top: -12px;
  height: 35px;
}
.out--of--stock {
  color: var(--red-one);
}

.toggle--btn--unavailable {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  right: 0;
  opacity: 0.5;
  border-radius: 8px;
}

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: var(--red-one);

  -webkit-transform: rotate(-17deg);
  -moz-transform: rotate(-17deg);
  -ms-transform: rotate(-17deg);
  -o-transform: rotate(-17deg);
  transform: rotate(-17deg);
}
