.statusPay-page{
    width: 100%;
    height: 100vh;
    background-color: #373737;
}

.img--success__status-pay{
    width: 25rem;
    height: 30rem;
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
}
.div--success__button-status-pay ,.div--success__button-status-pay-faild{
      width: 60%;
      background-color: #43A047;
      height: 3.7rem;
      border-radius: 15px;
      text-align: center;
      margin-right: 20%;
      margin-top: 3rem;
      position: relative;
      
    }
    .div--success__button-status-pay-faild{
      background-color: #E53935;
      
    }
    .span--success__status-pay{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #F8F2EE;
    font-weight: 800;
}